<article class="static">

<p>Nur Fachleute können wirklich beurteilen, ob Ihre Website gut  funktioniert. Ob sie über alle Suchmaschinen und alle relevanten  Schlagworte gefunden werden kann. <strong>quality webdesign</strong> macht diesen Check für Sie. Für gerade mal <strong>50 €</strong> sagen wir Ihnen, wo die Schwächen und Stärken Ihrer Website  liegen. Melden Sie sich einfach bei uns – per Mail: info&#064;quality-webdesign.de oder via Telefon: 09131 - 40 80 474.</p>

<p><strong>… damit man ihre website gut findet!</strong></p>

</article>